{% extends "base.html" %} {% block title %}RFEX - Login{% endblock %}

{% block content %}
<section class="col-md-6 my-1 p-5">
    <!-- Tabs -->
    <ul class="nav nav-tabs md-tabs nav-pills nav-fill mb-3" id="tabs" role="tablist">
        <li class="nav-item waves-effect waves-light">
            <a class="nav-link active" id="login-tab-md" data-toggle="tab" href="#login-md" role="tab"
                aria-controls="login-md" aria-selected="true">Login</a>
        </li>
        <li class="nav-item waves-effect waves-light">
            <a class="nav-link" id="register-tab-md" data-toggle="tab" href="#register-md" role="tab"
                aria-controls="register-md" aria-selected="false">Register</a>
        </li>
    </ul>
    <!-- Content -->
    <div class="tab-content" id="contents">
        <!-- Login Form -->
        <div class="tab-pane fade show active" id="login-md" role="tabpanel" aria-labelledby="login-tab-md">
            <form>
                <!-- Input email -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginEmail">Email</label>
                    <input type="email" id="loginEmail" class="form-control" placeholder="Email" />
                </div>

                <!-- Input password -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginPassword">Password</label>
                    <input type="password" id="loginPassword" class="form-control" placeholder="Password" />
                </div>

                <!-- 2 column grid layout -->
                <!-- <div class="row mb-4">
                    <div class="col-md-6 d-flex justify-content-center"> -->
                <!-- Checkbox -->
                <!-- <div class="form-check mb-3 mb-md-0">
                            <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                            <label class="form-check-label" for="loginCheck"> Remember me </label>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex justify-content-center"> -->
                <!-- Simple link -->
                <!-- <a href="#!">Forgot password?</a>
                    </div>
                </div> -->

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                <!-- Register buttons -->
                <!-- <div class="text-center">
                    <p>Not a member? <a href="#register">Register</a></p>
                </div> -->
            </form>
        </div>
        <!-- Register Form -->
        <div class="tab-pane fade" id="register-md" role="tabpanel" aria-labelledby="register-tab-md">
            <form>
                <!-- First name input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="registerFName">First Name</label>
                    <input type="text" id="registerFName" class="form-control" placeholder="First Name" />
                </div>

                <!-- Last name input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="registerLName">Last Name</label>
                    <input type="text" id="registerLName" class="form-control" placeholder="Last Name" />
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="loginName">Email</label>
                    <input type="email" id="registerEmail" class="form-control" placeholder="Email" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="registerPassword">Password</label>
                    <input type="password" id="registerPassword" class="form-control" placeholder="Password" />
                </div>

                <!-- Repeat Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                    <input type="password" id="registerRepeatPassword" class="form-control"
                        placeholder="Repeat Password" />
                </div>

                <!-- Submit button -->
                <button type="submit" id="btn-register" class="btn btn-primary btn-block mb-3">Register</button>
            </form>
        </div>

    </div>

</section>

{% endblock %}